@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P";
  margin: 0;
}

body {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #333;
}

#board {
  margin: 0;
  display: flex;
  user-select: none;

  border: outset 10px #222;
}

.cell {
  box-sizing: border-box;
  display: grid;
  place-items: center;

  width: 50px;
  aspect-ratio: 1;
  font-size: 1.75rem;
  background-color: #555;
  border: 8px outset #666;
}

.cell > * {
  grid-area: 1 / 1;
}

.cell:not(.revealed):active {
  border-style: inset;
}

img {
  image-rendering: pixelated;
}

.cell img {
  width: 100%;
  pointer-events: none;
}

.cell.revealed {
  border: none;
  background-color: #444;
}

.game-over {
  display: flex;
  flex-direction: column;
  gap: 8px;

  visibility: hidden;
  position: absolute;

  text-shadow:
    4px 4px 0px color-mix(in oklch, currentColor 50%, #0008 50%),
    -4px 4px 0px color-mix(in oklch, currentColor 50%, #0008 50%),
    4px -4px 0px color-mix(in oklch, currentColor 50%, #0008 50%),
    -4px -4px 0px color-mix(in oklch, currentColor 50%, #0008 50%);
  color: red;

  text-align: center;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}

.game-over * {
  transform: translateY(300%);

  transition: transform 300ms;
}

.restart,
.menu-btn,
#game-start {
  border: none;
  color: color-mix(in oklch, red 50%, #0008 50%);
  background-color: #0003;
  cursor: pointer;
  border: 4px solid currentColor;
}

#game-start {
  margin-top: 1em;
  font-size: 2rem;
}

.restart {
  transition-delay: 50ms;
}

.menu-btn {
  transition-delay: 100ms;
}

.game-over.show * {
  transform: translateY(0);
}

.game-over.show {
  visibility: visible;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: opacity 300ms;
  background-color: #4448;
}

.overlay.show {
  visibility: visible;
  opacity: 100%;
}

.stats {
  font-size: 2rem;
  color: color-mix(in oklch, red 50%, #0008 50%);
  background-color: #0003;

  * {
    text-align: center;
    padding: 2px 4px;
    border: 4px solid currentColor;
  }
  .time,
  .mines {
    position: absolute;
    top: 0;
    left: 0;
  }
  .mines {
    left: 100%;
    transform: translateX(-100%);
  }
}

.hidden {
  display: none;
}

.game-title {
  font-size: min(8rem, 10vw);
  display: flex;
}

.game-select-container {
  --gap: .5em;
  >div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    position: relative;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 2rem;
  input[type=radio] {
    display: none;
  }
  label {
    cursor: pointer;
    position: relative;
  }
  label::before {
    content: '';
    cursor: pointer;
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: #444;
    background-image: radial-gradient(#0002, #222 80%);
    border: 2px #222 solid;
    border-radius: 100%;
    transform: translateX(-140%);
  }

  --select-color: #800;

  input:nth-of-type(0):checked ~ label::before {
    background-color: var(--select-color);
  }
  input:nth-of-type(1):checked ~ label::before {
    background-color: var(--select-color);
  }
  input:nth-of-type(2):checked ~ label::before {
    background-color: var(--select-color);
  }
  input:nth-of-type(3):checked ~ label::before {
    background-color: var(--select-color);
  }

}

